#message {
	width: 100%;

	display: flex;

	main {
		margin: .3em 1em;

		padding: .5em;

		width: 50%;

		border-radius: .5em;

		background-color: rgba(255,255,255,.1);

		display: flex;
		flex-direction: column;


		position: relative;

		>div {
			color: var(--primary);

			display: flex;

			span {
				color: rgba(0,100,0,1);

				margin-bottom: .5em;
				font-size: .8em;

				margin-right: .5em;
			}
		}

		p {
			display: flex;
			justify-content: space-between;

			span {
				font-size: .7em;

				padding: 0 .5em;
				padding-top: .5em;
			}
		}

	}

}